body {
    margin: 0;
    padding: 0;
    font-family: ProductSans-Regular;
    font-size: 22px;
    background-color: #0375b4;
}

@font-face {
    font-family: ProductSans-Regular;
    src: url('ProductSans-Regular.ttf');
}
/* ------CABEÇALHO------ */
nav {
    top: 5%;
    left: 4%;
    right: 4%;
    padding: 1%;
    position: absolute;
    background-color: white;
    text-align: right;
    border-radius: 10px;
}

ul a li {
    position: relative;
    display: inline;
    padding: 2%;
    margin-right: 1%;
}

ul a#h {
    text-decoration: none;
    color: #0375b4;
    font-weight: bold;
}
ul a#s {
    text-decoration: none;
    color: #007849;
    font-weight: bold;
}
ul a#b {
    text-decoration: none;
    color: #ffce00;
    font-weight: bold;
}
ul a#l {
    text-decoration: none;
    color: #4717f6;
    font-weight: bold;
}

ul a#h li:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #0376b4d0;
    box-shadow: 0 5px 0 #0375b4;
    border-radius: 10px;
}
ul a#s li:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #007849;
    box-shadow: 0 5px 0 #006b40;
    border-radius: 10px;
}
ul a#b li:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #ffce00;
    box-shadow: 0 5px 0 #d3a500;
    border-radius: 10px;
}
ul a#l li:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #4717f6;
    box-shadow: 0 5px 0 #3002e9;
    border-radius: 10px;
}

nav#nav ul a li:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.img {
    position: absolute;
    width: 20%;
    top: 14px;
    left: 10px;
}
/* --------------------------------- */