@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Berlin Sans FB';
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

/* hr{
    float: left;
     position: relative; 
} */

.container{
    width: auto;
    margin: 0 auto;
}

/* ------TIPOGRAFIA------ */

#titulo{
    text-align: left;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: 500;
}

.titulo span{
    font-weight: 300;
    display: block;
    font-size: .9em;
}

@media (min-width:55rem){
    .titulo{
        font-size: 2.8rem;
    }
}

/* ------BOTOES------ */

.button {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: upercase;
    font-weight: 460;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.45em;
    transition: .2s;
    border-radius: 10px;
}

.button-accent{
    color: rgb(251, 174, 31);
    border-color: rgb(251, 174, 31);
}

.button-accent:hover,
.button-accent:focus{
    background: rgb(251, 174, 31);
    color: #232323;
    transition: .3s;
}


/* ------CABEÇALHO------ */

header{
    position:absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a{
    font-weight: 500;
    text-decoration: none;
    text-transform: upercase;
    font-size: 1em;
    padding: .8em;
    color: #FFF;
    transition: .3s;
}

nav a:hover, 
nav a:focus{
    color: rgb(111, 214, 219);
    background-color: white;
    padding: 1em;
    transition: .3s;
    border-radius: 10px;
}

@media (min-width:60rem){
    .logo{
        float: left;
    }

    nav{
        float: right;
    }

    nav a{
        font-size: 1.2em;
    }
}


/*---------HOME-HERO--------- */
.home-hero{
    background-image: url(../img/fundo.png);
    background-size: cover;
    padding: 28em 0;
    background-repeat: no-repeat;
    color: #FFF;
    left: .2em;
}

.home-hero .container#t{
    margin: 5em;
    left: 0;
    right: 0;
    align-items: center;
}

.home-hero .container#i{
    align-content: center;
    margin-top: -15em;
}

.home-hero .container hr{
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #fff;
    height: 5px;
    width: 15%;
    left: 0;
}


.home-hero .container .button-accent{
    text-decoration: none;
    text-transform: uppercase;
    
}

.home-hero .container .button-accent:focus, 
                      .button-accent:hover{
    color: #FFF;
    background-color: rgb(251, 174, 31);
    transition: .3s;
    border-radius: 10px;
}

@media (min-width:55rem){
    .home-hero .container#t{
        width: 46%;
        float: left;
        margin-top: -8em;
        margin-left: 5em;
    }

    .home-hero .container#i{
        width: auto;
        float: right;
        top: -20em;
        padding: 2em;
        align-content: center;
        margin-top: -15em;
        margin-right: 5em;
    }
}
