body {
    margin: 0;
    padding: 0;
    font-family: Berlin Sans FB;
    font-size: 22px;
    background-color: transparent;
    background-image: url(../img/fundo.png);
    background-size: 100% 65%;
    background-repeat: no-repeat;
}

/* ------CABEÇALHO------ */
nav {
    top: 5%;
    left: 4%;
    right: 4%;
    padding: 1%;
    position: absolute;
    background-color: white;
    text-align: right;
    border-radius: 10px;
}

ul a li {
    position: relative;
    display: inline;
    padding: 2%;
    margin-right: 1%;
}

ul a#h {
    text-decoration: none;
    color: #0375b4;
}
ul a#s {
    text-decoration: none;
    color: #007849;
}
ul a#b {
    text-decoration: none;
    color: #f3c200;
}
ul a#l {
    text-decoration: none;
    color: #4717f6;
}

ul a#h li:hover {
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
    background: #0376b4d0;
    box-shadow: 0 5px 0 #0375b4;
    border-radius: 10px;
}
ul a#s li:hover {
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
    background: #007849;
    box-shadow: 0 5px 0 #01633a;
    border-radius: 10px;
}
ul a#b li:hover {
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
    background: #f3c200;
    box-shadow: 0 5px 0 #d3a500;
    border-radius: 10px;
}
ul a#l li:hover {
    text-decoration: none;
    /* font-weight: bold; */
    color: white;
    background: #4717f6;
    box-shadow: 0 5px 0 #2801d4;
    border-radius: 10px;
}

nav#nav ul a li:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.img {
    position: absolute;
    width: 20%;
    top: 8px;
    left: 10px;
}
/* --------------------------------- */
.destino {
    position: absolute;
    width: 44%;
    top: 28%;
    left: 56%;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 550px;
    top: 15em;
    left: -14em;
    color: white;
}

.titulo {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1.5em;
}
.titulo span {
    display: block;
    font-size: 2.4rem;
    color: white;
}
/* --------------------------------- */
.c1 {
    background-color: #007849;
    position: relative;
    top: 580px;
    height: 800px;
}
.c2 {
    background-color: #ffce00;
    position: relative;
    top: 580px;
    height: 800px;
}
/* --------------------------------- */
.btn {
    font-family: Berlin Sans FB;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid white;
    background: transparent;
    color: white;
    position: relative;
    left: 25%;
    top: 0.8em;
    transition: 0.2s;
}
.btn:hover {
    background: white;
    color: rgb(31, 173, 181);
    transition: 0.2s;
    padding: 15px;
}