@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('mapa.css');

#total, #CO2{
    font-size: 2rem;
}

#paginaMapa {
    padding-top: 10em;
    margin: 0;
}

#right-panel {
    font-family: 'Berlin Sans FB';
    line-height: 30px;
    padding-left: 10px;
    background-color: #d81b60;
    padding: 2em;
    /*color: white;*/ /* mudar a cor da letra do painel*/
    margin-bottom: 1em;
    margin-top: 1em;
}

.warnbox-content {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.adp-placemark tbody {
    background-color: #FFFFFF;
    font-family: 'Berlin Sans FB';
    font-size: 1.2rem;
    color: #000000;
    border-radius: 50px;
}
adp-directions tbody {
    font-family: 'Berlin Sans FB';
}

adp-substep b {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #cfd8dc
}
#map {
    height: 40em;
    width: 100%;
    position: relative;
    border-radius: 25px;
    margin-top: 2em;
    margin-bottom: 2em;
}

#right-panel {
    float: right;
    width: 100%;
    height: auto;
    /*color: white;*/
}

.panel {
    height: 100%;
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}
