@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('mapa.css');

#total, #CO2{
    font-size: 2rem;
}

#paginaMapa {
    padding-top: 10em;
    margin: 0;
}

#right-panel {
    font-family: 'Berlin Sans FB';
    line-height: 30px;
    padding-left: 10px;
    background-color: #d81b60;
    padding: 2em;
    color: white; /* mudar a cor da letra do painel*/
    margin-bottom: 3em;
    margin-top: 3em;
}

.warnbox-content {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.adp-placemark tbody {
    background-color: #FFFFFF;
    font-family: 'Berlin Sans FB';
    font-size: 1.2rem;
    color: #000000;
    border-radius: 50px;
}
adp-directions tbody {
    font-family: 'Berlin Sans FB';
}

adp-substep b {
    font-size: 12px;
    color: #FFFFFF;
    background-color: #cfd8dc
}
#map {
    height: 40em;
    width: 100%;
    position: relative;
    border-radius: 25px;
    margin-top: 5em;
    margin-bottom: 5em;
}

#right-panel {
    float: right;
    width: 100%;
    height: auto;
    color: white;
}

.panel {
    height: 100%;
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

/* Auto complete css */

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 0px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

    .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

#origem, #destino {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

    #origem:focus, #destino:focus {
        border-color: #4d90fe;
    }

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#origem {
    position: relative;
    left: 0;
}
