
@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="indigo accent-1" id="paginaMapa">
    <div class="row container">
        <div id="pac-container" class="col s5">
            <!-- caixa de texto da origem do usuario -->
            <input id="origem" type="text" placeholder="Escreva sua origem" value="@ViewBag.Usuario.CepCasa">
        </div>
        <div class="col s0"></div> <!-- espaco entre os inputs -->
        <div id="pac-container" class="col s5">
            <!-- caixa de texto do destino do usuario -->
            <input id="destino" type="text" placeholder="Escreva o lugar de destino" value="@ViewBag.Usuario.CepTrabalho">
        </div>
    </div>

    <div class="row container">
        <div class="col s1"></div>
        <button class="waves-effect waves-light btn col s3 pink darken-1 white-text" type="submit" onclick="initMap()" > Buscar rota </button> <!-- botao ir de onde está escrito -->
        <div class="col s2"></div>
        <button class="waves-effect waves-light btn col s3 pink darken-1 white-text" type="submit" onclick="chamarLocalizacaoAtual()"> Usar localização atual <!-- botao ir de onde está o usuário (geolacalização) --></button>
        <div class="col s1"></div>
    </div>

    <div id="map" class="container z-depth-4"></div>

    <div class="row">
        <div class="col s6">
            <div class="col s4"></div>
            <div class="card-panel col s6 pink darken-1">
                <span class="white-text" id="CO2"> </span>
            </div>
            <div class="col s2"></div>
        </div>

        <div class="col s6">
            <div class="col s2"></div>
            <div class="card-panel col s6 pink darken-1">
                <span class="white-text" id="total"> </span>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
    

    <div class="row container">
        <div class="col s2"></div>
        <div id="right-panel" class="card-panel z-depth-5 col s8">
            <!-- painel par colocar a rota -->
        </div>
        <div class="col s2"></div>
    </div>

</div>


