<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POINTBUS</title>
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/custom.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Content/mapa.css" />



    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.0.js"></script>
    @*<script src="Scripts/materialize.js"></script>
      <script src="Scripts/materialize.min.js"></script>*@
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script src="~/Scripts/menu.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, open);
        });
    </script>
</head>
<body>
    <nav class="transparent container" id="menu">
        <div class="nav-wrapper container">
            <a href="index.html" class="brand-logo"><img src="~/img/logo.png" class="responsive-img valign-wrappe"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Usuario">HOME</a></li>
                <li><a href="/Usuario/Mapa">PRA ONDE VAI?</a></li>
                @if (ViewBag.Usuario != null)
                {
                    <li style="color: white; background-color: #0080FF; width: 130px; text-align: center"><a class='dropdown-trigger' href="#" data-target='dropdown2'>@ViewBag.Usuario.Nome</a></li>
                }
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/Usuario">HOME</a></li>
        <li><a href="/Usuario/Mapa">PRA ONDE VAI?</a></li>
        @if (ViewBag.Usuario != null)
        {
            <li style="color: white; background-color: #0080FF"><a class='dropdown-trigger' href="#" data-target='dropdown1'>@ViewBag.Usuario.Nome</a></li>
        }
    </ul>
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#">CANCELAR</a></li>
        <li class="divider" tabindex="-1"></li>
        <li><a href="/Usuario/Sair"><i class="material-icons">exit_to_app</i>SAIR</a></li>
    </ul>
    <ul id='dropdown2' class='dropdown-content'>
        <li><a href="#" class="light-blue-text">CANCELAR</a></li>
        <li class="divider" tabindex="-1"></li>
        <li class="red"><a href="/Usuario/Sair" class="white-text"><i class="material-icons">exit_to_app</i>SAIR</a></li>
    </ul>
    <div>
        @RenderBody()
    </div>
    @*<footer class="page-footer cyan darken-3 accent-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Já decidiu pra onde vai?</h5>
                        <p class="grey-text text-lighten-4">Você pode selecionar seu destino e ainda economizar tempo e dinheiro com uma viagem de ônibus.</p>
                        <p class="grey-text text-lighten-4">Além disso, você diminui significativamente a poluição diária emitida no planeta.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Acesse</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Escolha seu destino</a></li>
                            <li><a class="grey-text text-lighten-3" href="/Pesquisa/Index">Pesquisa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2019 Copyright Text
                </div>
            </div>
        </footer>*@
</body>

@*<script src="Scripts/dropdown.js"></script>*@
<script type="text/javascript" src="~/Scripts/mapa.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBh6JK23HFsrPff9iyGpdfzztePcfRhq4&libraries=places&callback=initMap" async defer></script>

</html>
